body{
    background-color: white;

}
.grande{
    background-color: gray;
<p style="background-color:Tomato;">
}
.grid{
    border-color: white;
    margin:auto;
 border:1px solid black ;
 padding:0.3vh;
 width: 700px;
 }
li {
    display: inline;

  }



.container{
    background-color: green; 
}


.container li{


    display: inline;
    left: 30px;
    background-color: green;
}
.search{
    float: right;
}

.grid{
    display: grid;
    grid-template-columns: 75% 25%;

}
.ascont{
    border: 1px solid black;

}


.con{
    list-style:square;

    padding: 20px 10px;
    padding-right: 1vh;
    margin: 100px;
    height: auto;
    overflow: hidden;
    background-color: green;
    color: white;



}
#cabeça{
    width: 100%;
    height: 300px;
}
.con li{

}
